<!DOCTYPE html>
<html>
<head>
	<title>CSV -> DB</title>
	<meta charset="UTF-8">
</head>
<body>
	<form action="/" method="POST" enctype="multipart/form-data">
		<div style="margin-bottom: 1rem;">
			<input type="file" name="file" accept=".csv" required>
		</div>
		<div>
			<button type="submit">Import</button>
		</div>
	</form>
</body>
</html>